<div class="container">
  <!-- Project Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"><%= current_company.name %>
        <small>Registered Collaborators</small>
      </h1>
    </div>
  </div>

    <div class="row">
      <%= render 'sidebar' %>

      <div class="col-md-9 collaborators">
        <h2 id="content-header">Collaborators</h2>
        <% if current_user.company_admin? %>
          <h4><%= link_to "Add Collaborator", new_company_user_path(company: current_company.url) %></h4>
        <% end %>

        <div class="table-responsive">
          <table class="table table-striped orders">

            <tr>
              <th>Username</th>
              <th>Email</th>
              <th></th>
            </tr>

            <% if current_company.collaborators %>
              <% current_company.collaborators.each do |collaborator| %>
                <%= content_tag_for :tr, collaborator do %>
                  <td><%= collaborator.username %></td>
                  <td><%= collaborator.email %></td>
                  <% if collaborator.former_collaborator? %>
                    <td id="reinstate"><%= link_to "Reinstate", company_user_path(company: current_company.url, id: collaborator.id, reinstate: "reinstate"), method: :put %></td>
                    <% else %>
                      <td id="remove"><%= link_to "Remove", company_user_path(company: current_company.url, id: collaborator.id), method: :put %></td>
                    <% end %>
                <% end %>
              <% end %>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>

<hr>
