<div class="container">
  <!-- Project Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"><%= current_company.name %>
        <small>Add Collaborators</small>
      </h1>
    </div>
  </div>

    <div class="row">
      <%= render 'sidebar' %>

      <div class="col-md-4 new-user-form">
        <h2 id="content-header">Find User</h2>

        <%= form_tag(search_company_user_path(company: current_company.url, id: 1), method: 'get') do %>
          <div class="form-group dropdown-toggle">
            <%= search_field_tag 'searchfield' %>
            <%= button_tag("Search", method: "get", class: "btn btn-primary") %>
        <% end %>

        <% if @user %>
          <div class ="search-result">
           <div class="table-responsive">
              <table class="table table-striped orders">
                <tr>
                  <th>Username</th>
                  <th>Email</th>
                  <th></th>
                </tr>

                  <tr>
                    <td><%= @user.username %></td>
                    <td><%= @user.email %></td>
                    <td><%= button_to "Select", company_users_path(company: current_company.url, user: @user.username), method: "post", class: "btn btn-primary" %></td>
                  </tr>
              </table>
            </div>
          </div>
        <% end %>
      <div class="col-md-5 collaborators">
        <h2 id="content-header">Collaborators</h2>
        <% if @collaborators %>
          <% @collaborators.each do |collaborator| %>
            <div class="table-responsive">
              <table class="table table-striped orders">

                <tr>
                  <th>Username</th>
                  <th>Email</th>
                  <th></th>
                </tr>

                  <tr>
                    <td><%= collaborator.username %></td>
                    <td><%= collaborator.email %></td>
                    <td><%= link_to "Delete", "#" %></td>
                  </tr>
              </table>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div><!--/container-->

<hr>
