<div class="container">
  <!-- Project Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"><%= @project.name %></h1>
    </div>
  </div>

  <!-- Portfolio Item Row -->
  <div class="row project-details">
    <div class="col-md-6">
      <img class="img-responsive" src="<%= @project.image %>" alt="">
    </div>

    <div class="col-md-6-stats">
      <div class="project-description">
        <p><%= @project.description %></p>
      </div>


    <div class="funding-stats">
      <h1><%= number_to_currency @project.current_funding %></h1>
      <p>pledged of <strong><%= number_to_currency @project.funding_goal %></strong> goal</p>


    <div class="progress">
      <div class="progress-bar progress-bar-success progress-bar-striped <%= 'active' if @project.funding_in_percentage < 100 %>" role="progressbar" aria-valuenow="<%= @project.funding_in_percentage %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @project.funding_in_percentage %>%">
        <span class="sr-only"><%= @project.funding_in_percentage %>% Complete (success)</span>
      </div>
    </div>

    <div class="funding-stats">
      <h1><%= distance_of_time_in_words Time.now, @project.end_date %></h1>
      <p>to go until funding ends at <%= @project.pretty_end_date %></p>
    </div>
  </div>

  <div class="funding-button">
    <%= link_to "Fund This Project", cart_items_path(item_id: @project.id), method: :post, class: "btn btn-primary", role: "button" %>
    <% if current_user && (current_user.company_admin? || current_user.collaborator?) %>
      <%= link_to "Fund This Project", cart_items_path(item_id: @project.id), method: :post, class: "btn btn-primary", role: "button" %>
    <% end %>
  </div>
</div>

</div>
  <div class="row related-projects">
    <div class="col-lg-12">
    <h3 class="page-header">Related Projects</h3>
  </div>
  <% @related_projects.each do |project| %>
    <div class="related-projects">
      <div class="col-sm-3 col-xs-6">
      <a href="#">
      <h4><%= link_to project.name, project_path(project.id) %></h4>
      <%= image_tag(project.image, class: 'img-responsive portfolio-item') %>
      </a>
    </div>
  <% end %>
</div>
<hr>
