<div class="container">
  <% @cart_items.each do |cart_item| %>
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header"><%= cart_item.name %></h1>
      </div>
  </div>

  <div class="row">
      <div class="col-md-5">
          <a href="#">
              <%= image_tag(cart_item.image, class: 'img-responsive') %>
          </a>
      </div>
      <div class="col-md-7">

          <h3><%= cart_item.name %></h3>
          <p><%= cart_item.description %></p>

          <div class="cart-options">
              <h1 class="pull-left"><%= number_to_currency cart_item.funding_amount %></h1>

              <%= form_tag cart_item_path(cart_item), method: :put do %>
                <div class="form-group dropdown-toggle">
                  <%= number_field_tag 'funding_amount', nil, max: (cart_item.funding_goal - cart_item.current_funding) %>
                  <%= button_tag "Set Amount", type: "submit", class: "btn btn-primary" %>
              <% end %>
                  <%= link_to "Remove", cart_item_path(cart_item), method: :delete, class: "btn btn-primary" %>
                  <%= link_to "View Project", project_path(cart_item), class: "btn btn-primary" %>
                </div>
                <p>Funding Goal: <strong class="funding"><%= number_to_currency cart_item.funding_goal %></strong></p>
                <p>Current Funding: <strong class="funding"><%= number_to_currency cart_item.current_funding %></strong></p>
          </div>
      </div>
<hr>
  </div>
</div>
<div class="checkout-button">
  <% if current_user %>
    <%= link_to "Checkout", orders_path(current_user.id), method: :post, class: "btn btn-primary checkout", params: {funding_amount: cart_item.funding_amount} %>
  <% else %>
    <a href="#" data-toggle="modal" data-target="#login-modal-small" class="btn btn-primary checkout">Log in to Checkout</a>
  <% end %>
</div>
<% end %>
