<div class="container">
  <% @cart_items.each do |cart_item| %>
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header"><%= cart_item.name %></h1>
      </div>
  </div>

  <div class="row">
      <div class="col-md-5">
          <a href="#">
              <%= image_tag(cart_item.image, class: 'img-responsive') %>
          </a>
      </div>
      <div class="col-md-7">
          <h2><%= cart_item.company.name %></h2>
          <h3><%= cart_item.name %></h3>
          <p><%= cart_item.description %></p>

          <div class="cart-options">
              <h2 class="pull-left"><%= number_to_currency cart_item.funding_amount %></h2>

               <%= form_tag cart_item_path(cart_item), method: :put do %>
                  <div class="form-group dropdown-toggle">
                      <%= select_tag :funding_amount, options_for_select((CartItem.funding_amounts), cart_item.funding_amount) %>
                      <%= button_tag "Set Amount", type: "submit", class: "btn btn-primary" %>
                  </div>
              <% end %>

              <%= link_to "View Project", project_path(cart_item), class: "btn btn-primary" %>
              <%= link_to "Remove", cart_item_path(cart_item), method: :delete, class: "btn btn-primary" %>
          </div>
      </div>
<hr>
<% end %>
  </div>
</div>
<div class="checkout-button">
  <% if current_user %>
    <%= link_to "Checkout", orders_path, method: :post, class: "btn btn-primary checkout" %>
  <% else %>
    <a href="#" data-toggle="modal" data-target="#login-modal-small">Log in to check out</a>
  <% end %>
</div>
