<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <div class="row">
        <% @cart_items.each do |cart_item| %>
            <div class="col-lg-12">
                <h1 class="page-header"><%= cart_item.name %>
                    <small>Company Name</small>
                    <small class="pull-right"><%= link_to "Checkout", "#" %></small>
                </h1>
            </div>
        </div>

        <!-- Project -->
        <div class="row">
            <div class="col-md-5">
                <a href="#">
                    <%= image_tag(cart_item.image, class: 'img-responsive') %>
                </a>
            </div>
            <div class="col-md-7">
                <h3><%= cart_item.name %></h3>
                <p><%= cart_item.description %></p>

                <div class="cart-options">
                    <h2 class="pull-left"><%= number_to_currency cart_item.funding_amount %></h2>

                     <%= form_tag cart_item_path(cart_item), method: :put do %>
                        <div class="form-group dropdown-toggle">
                            <%= select_tag :funding_amount, options_for_select((CartItem.funding_amounts), cart_item.funding_amount) %>
                            <%= button_tag "Set Amount", type: "submit", class: "btn btn-primary" %>
                        </div>
                    <% end %>

                    <%= link_to "View Project", project_path(cart_item), class: "btn btn-primary" %>
                    <%= link_to "Remove", cart_item_path(cart_item), method: :delete, class: "btn btn-primary" %>
                </div>
            </div>
        <% end %>
    </div>

    <hr>
