<!DOCTYPE html>
<html>

<head>
  <title>CodeStarter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="header">
    <%= render "layouts/navigation_bar" %>
  </div>

  <% flash.each do |type, msg| %>
    <%= content_tag :div, msg.html_safe, class: "alert alert-#{type}" %>
  <% end %>

  <%= yield %>

  <script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
  </script>
</body>

</html>
